streamlit
pandas
streamlit-aggrid
matplotlib
plotly
numpy
xgboost
scikit-learn
imblearn
seaborn
tensorflow-cpu
catboost
shap
tinydb
streamlit-webrtc
pyzbar
opencv-python
av
streamlit-js-eval








